image: python:3.11-slim

variables:
  PIP_DISABLE_PIP_VERSION_CHECK: "1"
  PIP_NO_CACHE_DIR: "false"
  PIP_CACHE_DIR: "$CI_PROJECT_DIR/.cache/pip"

cache:
  key: "$CI_COMMIT_REF_SLUG"
  paths:
    - .cache/pip

stages:
  - test

before_script:
  - python --version
  - python -m pip install --upgrade pip
  - python -m pip install -r requirements.txt

model_tests:
  stage: test
  script:
    - python quick_test.py
    - python test_models.py
  only:
    - branches
    - merge_requests 